<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>tests</directory>
    </testsuite>
    <testsuite name="jsontext">
        <directory>tests</directory>
    </testsuite>
</phpunit>
